html {
    font-size: calc(100vw / 1920 * 10);

    @media screen and (max-width:1200px) {
        font-size: 10px;
    }
}

body {
    font-family: var(--primary-font);
    color: var(--primary-text-color);
    overflow: hidden;
    background-color: #1D1D1D;

    background-image: url(../img/bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;

    @media screen and (max-width:1200px) {
        background-image: url(../img/bg-m.webp);
        background-position: center top;
    }

    @media screen and (max-width:767px) {
        background-image: url(../img/bg-s.webp);
    }
}

.main {
    position: relative;
    min-height: 100vh;
    max-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
}

.screen {
    opacity: 0;
    visibility: hidden;
    height: 0;

    & .container {
        height: 0;
        padding: 0;
    }
}

.screen.is-active {
    opacity: 1;
    visibility: visible;
    z-index: 1;
    height: 100vh;

    & .container {
        height: auto;
    }
}

.container {
    max-width: 88.6rem;
    margin: 0 auto;

    @media screen and (max-width:1200px) {
        max-width: 70rem;
    }

    @media screen and (max-width:767px) {
        max-width: 32rem;
        overflow-y: hidden;
        overflow-x: visible;
    }
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.box {
    border-radius: 4rem 2rem;
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(15px);
    padding: 3rem;
}

.box-reverse {
    border-radius: 2rem 4.3rem;
}

.button__next {
    position: absolute;
    bottom: 6.4rem;
    left: 50%;
    transform: translate(-50%);
    width: 88.6rem;

    display: flex;
    justify-content: flex-end;

    & .button {
        width: 14.2rem;
        height: 6.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        border-radius: 4rem .3rem;
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(15px);
        color: #717171;
        cursor: not-allowed;

        &.active {
            color: var(--primary-text-color);
            background-color: var(--button-back-color);
            // box-shadow: 0rem .4rem 17.6rem 0rem #3F68D2;
            transition-duration: 300ms;
            cursor: pointer;

            &:hover {
                // box-shadow: none;
            }
        }

        span {
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.2;
        }

        svg {
            stroke: currentColor;
            width: 2rem;
            height: 2rem;
        }
    }
}

.telegram__link {
    width: 16.4rem;
    height: 6.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;

    background-color: var(--button-back-color);
    border-radius: 4rem .3rem;
    box-shadow: 0rem .4rem 17.6rem 0rem #3F68D2;
    margin: 0 auto;

    text-decoration: none;
    font-size: 1.4rem;

    transition-duration: 300ms;

    &:hover {
        box-shadow: none;
    }

    @media screen and (max-width:1200px) {
        width: 32rem;
    }

    @media screen and (max-width:767px) {
        box-shadow: none;
    }
}