:root {
    // fonts
    --primary-font: 'Comfortaa';
    --secondary-font: 'Rubik';
    
    // colors
    --primary-text-color: #FFFFFF;
    --radio-text-color: #8D97A1;
    --accent-text-color: #B8FF8C;
    --button-back-color: #3F68D2;

    // timer
    --timer-back-default: #2BC860;
    --timer-back-warning: #F0FD59;
    --timer-back-failure: #F13D3D;
}